* {
	font-family: "微软雅黑";
	margin: 0;
	padding:0; 
	border:0; 
}

ul{list-style: none; }

#app{
	width: 620px; margin:0 auto;
	margin-top: 20px; 
}
h4{
	padding:16px;
}
.btn {
	display: inline-block;
	outline: none;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-article {
	width: 148px;
	height: 48px;
	line-height: 38px;
	color: #fff;
	background-color: #3ca5f6;
	font-size: 16px;
	border-radius: 0;
	margin-top: 20px;
	margin-bottom: 30px;
}

.btn-article:hover {
	color: #fff;
	background-color: #2f99ea;
}

.post-box {
	width: 100%;
}

.pl-form-author {
	margin-top: 16px;
	overflow: hidden;
}

.span-mark-author.active {
	padding: 6px;
	border-bottom: 4px solid #f63756;
	color: #333;
}

.author-face {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
}

.author-name {
	top: 17px;
	position: relative;
	margin-left: 20px;
	cursor: pointer;
}
.author-name:hover{
	color:#3ca5f6;
}

.pl-form-box {
	margin-top: 10px;
}

.post-header {
	overflow: hidden;
}

.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.pl-form-box textarea {
	box-sizing: border-box;

	height: 180px;
	border-radius: 0;
	resize: none;
	box-shadow: none;
	border-color: #f0f0f0;
}

.round{
	border-radius: 50%;
}
.error-message{
	width: 400px; 
	text-align: center;
	position: fixed;
	top:0px; 
	left: 50%; 
	margin-left:-200px; 
	padding: 10px;
	background: rgba(246,55,86,.9);
	color:white;
}
.pl-box-wrap {
	width:100%;
    border-top: 1px solid #f0f0f0;
    position:relative;
    
}

.comment-item{
	border:5px solid red;
    margin:5px;
}

.time {
    position: relative;
    color: #bbb;
    top: 17px;
    margin-left: 20px;
    font-size: 14px;
}

.link{
	border:none; 
	outline: none;
	background: transparent;
	cursor: pointer;
	color:#bbb; 
	font-size: 14px; 
}

.link:hover{
	color:#666; 
}
.dianping:hover{
	color:#2f99ea;
}
.post-content{
	margin: 16px 0 ;
	font-size:14px; 
	overflow: hidden;
}
.post-left{
	float:left;
	margin-bottom: 16px;
}
.icon {
    display: inline-block;
    vertical-align: text-bottom;
    background-image: url('../images/icon.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
}

.icon-dp {
    background-position: -170px -173px;
}
.post-left:hover .icon-dp {
    background-position: -170px -223px;
}

.icon-like {
    background-position: -220px -173px;
    cursor: pointer;
}
.icon-like:hover{
	background-position: -220px -223px;
}
.icon-no-like {
    background-position: -270px -171px;
    cursor: pointer;
}
.icon-no-like:hover {
    background-position: -270px -221px;
}
.post-right{
	float: right;
}
.post-right span{
	margin-right:3px;
	color:#bbb;
	position: relative;
	top:2px;
}
.pl-box-wrap ul li{overflow: hidden;}
