<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		
	</head>
	<body>
		<div id="app">
			<my-component :tests="test"></my-component>
		</div>
		
	
	</body>
	
	<script type="text/javascript" src="vue.js"></script>
	<script type="text/javascript">
		Vue.component('my-component',{
			name:'my-component',
			template:`
				<div>
					<h1>我们的世界  {{msg}}</h1>
					<input type="checkbox" v-model="ischeck"/>
					<p v-if="ischeck">是否显示的测试数据</p>
					<div>{{tests}}</div>
					<button @click="clic">按钮</button>
					
				</div>
				
				`,
			data:function(){
				return{
					msg:'组件测试信息',
					ischeck:true,
				}
			},
			methods:{
				clic(){
					this.test = '8888888'
				}
			},
			props:['tests']
			
		})
		var vm = new Vue({
			el:'#app',
			data:{
				test:'11111',
			},
		})
		
	
	</script>
</html>



<!--<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		
		<div id="app">
			
			<c1 :idddd = "fuid"></c1>
		</div>
		<script src="../vue.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			
			Vue.component('c1',{
				template:`<div >
					<button @click = "clickBtn">按钮</button>
					{{idddd}}
				</div>`,
				
				props:['idddd']
				
			});
			
			
			var vm = new Vue({
				el: '#app',
				data: {
					fuid: '12345'
				}
			});
			
			
		</script>
	</body>
</html>-->

