<style>
	body{background: #f4f4f4;}
	*{list-style: none;}
	#app {
		width: 980px;
		margin: 0 auto;
	}
	
	h3 {
		height: 43px;
		margin: 0 auto;
	}
	
	.ip {
		width: 980px;
		height: 43px;
		padding-left: 3px;
		margin: 0 auto;
		display: block;
	}
	
	ul.task {
		width: 980px;
		margin: 0 auto;
		font-size: 16px;
		padding:0;
	}
	
	.task li {
		padding: 5px;
		list-style: none;
		border-bottom: 1px solid #ccc;
	}
	
	.task li button {
		background: #d9534f;
		cursor: pointer;
		display: inline-block;
		width: 70px;
		height: 25px;
		color: #fff;
		float: right;
		font-size: 16px;
		text-align: center;
		line-height: 25px;
		border: none;
	}
	
	.task li em {
		font-style: normal
	}
	
	.state{
		margin:30px 10px;overflow: hidden;
	}
	.state .left{float:left}
	.state ul{float:right}
	.state li{float:left;padding:5px 15px;}
	.state li.on{border:1px solid #ccc;}
	.footer{margin-top:20px;}
	.finish{color:#555;text-decoration:line-through;}
</style>